{% extends 'investors/layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Login In Your Account | Micoin {% endblock title %}
{% block content %}
{% block style %}
<style>
    .form-group {
        text-align: center;
    }
</style>
{% endblock style %}
<br><br><br>

<section class="register-section">
    <br><br><br><br>
    <div class="container">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center">
               
                <div class="reg-card">
                    <div class="">
                        {% for message in messages %}
                          <h5 class="alert alert-{{ message.tags }} text-center">{{  message }}</h5>
                        {% endfor %}
                      </div>
                    
                    <form action="" method="post">{% csrf_token %}
                        <div class="form-header mb-3 mt-3">
                            <h4 class="text-center">Sign In</h4>
                        </div>
                       
        
                        
                         
                      {{ form | crispy }}
                        
                        <div class="d-flex justify-content-center mb-2">
                            <button type="submit" style="border-radius: 5px; background: #c09924; color: #fff; padding: 10px 8px;" class="btn btn-block mb-2">Sign in</button>

                        </div>
                        <div class="mb-2 text-center">
                            <p class="text-muted"><a class="text-muted" style="color: #c09924;" href="{% url 'password-reset' %}"> Forgot  Password ?</a></p>
                            <p>Don't  have an Account ? <a style="color: #c09924;" href="/auth/register/">Sign Up</a></p>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    
</section>
<br>




 
{% endblock content %}