{% extends 'investors/layout/base.html' %}
{% load crispy_forms_tags %}
{%  load static %}
{% block title %} About Us | Micoin {% endblock title %}
{% block content %}


<section class="hero-section welcome-secton set-bg" data-setbg="{% static 'images/bg-10.jpg' %}">
    <div class="container">
    <div class="col-lg-12">
         <h4><span>Home / </span><span>About Us</span></h4>
        
    </div>
        
    </div>
    
</section>
<br>

<section class="how-it-work-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <div class="cont">
                        <h2>Who we are

                        </h2>
                        <p>
                            Micoin is an online investment platform that through the use of their expertize invest in profitable business both online and offline  in other to provide sustainable income ( Roi) to there investors (subscribers)
    
                        </p>
                  
                        
                    </div>
                    <br>
                    <div class="cont">
                        <h2>What we do (invest in)
                        </h2>
                        <p>
                           
                       Through the power of team work we are able to diversify our earning system so as to meet up in paying our investors( subscribers) by so doing we invest in the following :
                        </p>
                        <ul>
                           <li>trading ( both forex and crypto)</li> 
                           <li>Bot sales(both forex and crypto)</li> 
                           <li> Offline businesses (variety of cases)</li>
                           <li>Buying of shares from lucrative companys</li> 
                           <li>And so much more too numerous to mention</li> 

                        </ul>
                  
                        
                    </div>
                    <div class="cont">
                        <h2>Why we are different

                        </h2>
                        <p>
                            Because we are a team of different people who come together with idea that is filled with positive vibes we are able to work together to strengthen the firm in all roundification. <br>
                          The same team is also working there way to the top so as to make micoin not just an investment but also list it on any crypto exchanger in the long run.
                           
                         </p>
                        
                  
                        
                    </div>
                    <div class="cont">
                        <h2>Who can be part of us 

                        </h2>
                        <p>
                            Basically anyone above the age of 16 with a balance veiw of money can be an investor with micoin. <br>
                            All you need is a minimum of 5,000 and a bank account bearing your name
                         </p>
                        
                  
                        
                    </div>
                    <div class="cont">
                        <h2>Can We be trusted?

                        </h2>
                        <p>
                            
Trust is a big word if we are to be sincere with you all what we'll say is we believe in action rather that much words,  all you need to convince you is a trial and boom you'll be happy you did.
                         </p>
                        
                  
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}