{% extends 'investors/layout/base.html' %}
{% load crispy_forms_tags %}
{%  load static %}
{% block title %} Privacy | Micoin {% endblock title %}
{% block content %}
<section class="hero-section welcome-secton set-bg" data-setbg="{% static 'images/bg-10.jpg' %}">
    <div class="container">
    <div class="col-lg-12">
         <h4><span>Home / </span><span>Privacy Policies</span></h4>
        
    </div>
        
    </div>
    
</section>
<br>
 
<section class="privacy-section">
    <div class="container">
        <div class="col-lg-12">
            <div class="content">
 
                <div class="cont">
                    <h2>Private Data We Receive And Collect
                    </h2>
                    <p>
                        Micoin also automatically collects and receives certain information from your computer or mobile device, including the activities you perform on our Website, the Platforms, and the Applications, the type of hardware and software you are using (for example, your operating system or browser), and information obtained from cookies. For example, each time you visit the Website or otherwise use the Services, we automatically collect your IP address, browser and device type, access times, the web page from which you came, the regions from which you navigate the web page, and the web page(s) you access (as applicable). <br>
                        When you first register for a micoin account, and when you use the Services, we collect some Personal Information about you such as:


                    </p>
                    <ul>
                        <li>The geographic area where you use your computer and mobile devices</li>
                        <li>Your full name, username, and email address and other contact details</li>
                        <li>A unique micoin user ID (an alphanumeric string) which is assigned to you upon registration</li>
                    </ul>
                    
                    <ul>
                        <p>Other optional information as part of your account profile :
                        </p>
                        <li>Your IP Address and, when applicable, timestamp related to your consent and confirmation of consent</li>
                        <li>Your billing address and any necessary other information to complete any financial transaction, and when making withdrawal through the Services, we may also collect your Bank Account information</li>
                       
                    </ul>
                    
                </div>
                <br>
                <div class="cont">
                    <h2>How We Use MICOIN Data
                    </h2>
                    <p>
                        MICOIN Home uses visitors' data for the following general purposes:


                    </p>
                    <ul>
                        <li>To identify you when you login to your account
                        </li>
                        <li>To enable us to operate the Services and provide them to you</li>
                        <li>To verify your transactions and for activities confirmation, billing, security, and authentication (including security tokens for communication with installed)</li>
                        <li>To analyze the Website or the other Services and information about our visitors and users, including research into our user demographics and user behaviour in order to improve our content and Services</li>
                        <li>To contact you about your account and provide customer service support, including responding to your comments and questions</li>
                        <li>To share aggregate (non-identifiable) statistics about users of the Services to prospective advertisers and partners</li>
                        <li>To keep you informed about the Services, features, surveys, newsletters, offers, surveys, newsletters, offers, contests and events we think you may find useful or which you have requested from us</li>
                        <li>To market micoin products and services to you</li>
                        <li>To better understand your needs and the needs of users in the aggregate, diagnose problems, analyze trends, improve the features and usability of the Services, and better understand and market to our customers and users</li>
                        <li>To keep the Services safe and secure</li>
                        <li>We also use non-identifiable information gathered for statistical purposes to keep track of the number of visits to the Services with a view to introducing improvements and improving usability of the Services. We may share this type of statistical data so that our partners also understand how often people use the Services, so that they, too, may provide you with an optimal experience.
                            Consent Of Using MICOIN Products and Services</li>
                    </ul>
                    

                </div>
                <br>
                <div class="cont">
                    <h2>Consent Of Using MICOIN Products and Service
                    </h2>
                    <p>
                        By using any of the Services, or submitting or collecting any Personal Information via the Services, you consent to the collection, transfer, storage disclosure, and use of your Personal Information in the manner set out in this Privacy Policy. If you do not consent to the use of your Personal Information in these ways, please stop using the Services
                    </p>
                     
                </div>
                <br>
                <div class="cont">
                    <h2>Breaches of this terms and conditions
                    </h2>
                    <p class="">
                        We( micoin) reserve the right to modify this Privacy Policy at any time without prior notification


                    </p>
                     
                </div>
                <br>
                <div class="cont">
                    <h2>Other important informations
                    </h2>
                    <p>
                        Investing with us means you are ready to go with the risk that comes with your investment. 
                        <br>
                        Follow only the instructions stated by the support team.
                        <br>
                        Once payment is made, it is not refundable.
                        <br>
                        Your registration name must tally with your bank account name to avoid not getting your money when you request for withdrawal.
                    </p>
                     
                </div>
 
            </div>
        </div>
    </div>
</section>


{% endblock content %}